.mainContainer {
  display: flex;
  height: 400px;
  width: 100%;
}

.leftTab {
  background-color: black;
  padding: 50px;
  padding-left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab {
  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
  transition: color 0.5s ease-in-out;
}

.rightTab {
  background-color: white;
  padding: 50px;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabDescription {
  font-size: 40px;
  overflow: scroll;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 680px) {
  .mainContainer {
    flex-wrap: wrap;
  }

  .leftTab {
    padding: 0;
    padding: 10px 30px;
    width: 100%;
    align-items: center;
  }

  .rightTab {
    padding: 0;
    padding: 10px 10px;
    width: 100%;
  }

  .tab {
    font-size: 24px;
  }

  .tabDescription {
    min-height: 100px;
    font-size: 20px;
    text-align: center;
    overflow: scroll; /* Keep scroll for the scrollbar */
    line-clamp: 3; /* Limits to 3 lines of text */
    text-overflow: scroll; /* Scrolls text if it's too long */
    max-height: 150px; /* Adds max-height for scrolling on mobile */
    padding: 10px 0px;
  }
}
