.title {
  color: var(--text-white);
  font-size: 40px;
  margin-bottom: 10px;
}

.description {
  color: var(--text-gray);
  text-align: justify;
  line-height: 35px;
  font-size: 24px;
}

@media only screen and (max-width: 680px) {
  .title {
    font-size: 28px;
  }
  .description {
    font-size: 18px;
  }
}
